*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

body {
  font: 12px Helvetica,Arial,sans-serif;
  line-height: 1.62;
}

.logo img{
  width: 160px;
}

.logo {
  display: inline-block;
}

.wrapper {
  background-color: #edf4ed;
}

.nav {
  padding:10px 0 5px;
  font-size: 16px;
  margin: 0 auto;
  width: 1040px;
  display:flex;
  align-items: center;
  padding-top: 12px;
  padding: 10px 0 5px;
}

.nav-links {
  display: flex;
  list-style: none;
  text-decoration: none;
  margin-left: 3em;
}

.nav-item {
  color: #072;
  display: inline-block;
  margin-right: 20px;
  /* padding: 10px 15px; */
}

li a:hover {
  background-color: #072;
  color: #fff;
}

a {
  text-decoration: none;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.search-box {
  display: flex;
  height: 28px;
  background: #ffffff;
  margin-left: 200px;
  font-size: 13px;
  border: 1px solid #ddd;

}
.input-box::placeholder {
  color: #ddd;
}
.input-box {
  padding-left: 10px;
  width: 242px;
  border: none;
}

.input-btn {
  width: 30px;
  padding: 0;
  border: 0;
  color: #ddd;
}

